<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- which provider -->
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="oledbProvider" value="System.Data.OleDb"/>
    
    <!-- Which Connection string -->
    <add key="cnStr" value="Data Source = (local)\SQLEXPRESS;
         Initial Catalog=AutoLot; Integrated Security=True"/>
    
    <add key ="cnStrOledb" value="Provider=SQLOLEDB; Data Source=(local)\SQLEXPRESS
         Integrated Security=SSPI; Initial Catalog=Autolot"/>
  
  </appSettings>
</configuration>