<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- which provider -->
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="oledbProvider" value="System.Data.OleDb"/>  
  
  </appSettings>
  
  <!-- Here are the the connection strings -->
  <connectionStrings>
    
    <!-- Which Connection string -->
    <add name="AutoLotSqlProvider" connectionString="Data Source = (local)\SQLEXPRESS;
         Initial Catalog=AutoLot; Integrated Security=True"/>
      
  </connectionStrings>
  
</configuration>